<form action="/bmi" method="get">
	<label for="weight">WEIGHT</label>
	<input type="text" name="weight" placeholder="Enter your weight in kg">

	<label for="height">HEIGHT</label>
	<input type="text" name="height" placeholder="Enter your height in m">
	
	<div><input type="submit"></div>
</form>



<% if @result_bmi %>
<p>Your bmi is <span><%= @result_bmi %></span> EAT a Party Ring!!!</p>
<% end %>