<!DOCTYPE html>
<html>
<head>
	<title>My amazing calculator app</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<nav>
		<li><a href="/">HOME</a></li>
		<li><a href="/basic_calc">BASIC CALC</a></li>
		<li><a href="/power">POWER</a></li>
		<li><a href="/sqrt">SQUARE ROOT</a></li>
		<li><a href="/bmi">BMI</a></li>
		<li><a href="/mortgage">MORTGAGE</a></li>
		<li><a href="/trip_calc">TRIP CALC</a></li>
	</nav>
	<%= yield %>
</body>
</html>