<form action="/power" method="get">
	<label for="num">NUMBER</label>
	<input type="text" name="num" placeholder="Enter a number">

	<label for="power">POWER</label>
	<input type="text" name="power" placeholder="Enter a power">
	
	<div><input type="submit"></div>
</form>



<% if @result_power %>
<p>The result of <%= @num %> to the power of <%= @power %> is <span><%= @result_power %></span></p>
<% end %>